/* CSS code for header section */
header {
    background-color: #618685;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    font-family: Myanmar Text;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: Myanmar Text;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 3px;
}

nav a:hover {
    background-color: #fff;
    color: #292929;
}

/* CSS styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px;
    background-color: #618685;
}

.container1 {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
   
}



.book {
    display: inline-block;
    width: 300px;
    height: 350px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.book:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.book img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 250px;
    padding-top: 20px;
}

.book p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.book a {
    display: block;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    transition: 0.3s;
}

.book a:hover {
    background-color: #3E8E41;
}